.ui-autocomplete {
    max-height: 100px;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
}


ul {
    list-style-type: none; /* Removes the default list styling */
    padding: 0;
    gap: 10px; /* Space between items */
}

.pages ul li {
    display: inline-block; /* Ensures list items are inline */
}


a {
    text-decoration: none; /* Removes underlines */
    padding: 8px 12px; /* Adds padding around the link */
    border: 1px solid #ccc; /* Adds border to each page link */
    border-radius: 4px; /* Rounded corners */
}

.disabled {
    pointer-events: none;
    color: gray;
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
}

a:hover {
    background-color: #f0f0f0; /* Adds hover effect */
}

a.active {
    font-weight: bold; /* Highlights the active page */
}
