<!DOCTYPE>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Department List</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="person.js" defer></script>
    <link rel="stylesheet" type="text/css" href="personstyle.css">
</head>
<body>
<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};

</script>

<div class="ui-widget">
    <form action="/departments" method="post">
        <label for="tags">Nombre del departamento: </label>
        <input type="text" id="tags" name="departmentName">
        <input type="submit" value="Buscar">
    </form>
    <form action="/departments" method="get">
        <input type="submit" value="All">
    </form>

</div>

<h1> New Department </h1>
<form action="/add-department" method="post">
    Name: <input type="text" name="departmentName" required>
    <button type="submit">Add</button>
</form>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

<div class="pages">
    <ul>
        <li>
            <a th:href="@{|/departments?page=0&size=${pageSize}|}"
               th:text="'First'"
               th:classappend="${currentPage == 0} ? 'disabled' : ''">
            </a>
        </li>

        <li>
            <a th:href="@{|/departments?page=${currentPage - 1}&size=${pageSize}|}"
               th:text="'Previous'"
               th:classappend="${currentPage == 0} ? 'disabled' : ''">
            </a>
        </li>

        <li>
            <span th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages}"></span>
        </li>

        <li>
            <a th:href="@{|/departments?page=${currentPage + 1}&size=${pageSize}|}"
               th:text="'Next'"
               th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
            </a>
        </li>

        <li>
            <a th:href="@{|/departments?page=${totalPages - 1}&size=${pageSize}|}"
               th:text="'Last'"
               th:classappend="${currentPage == totalPages - 1} ? 'disabled' : ''">
            </a>
        </li>
    </ul>
</div>

<table border="2">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <td>[[${department.departmentName}]]</td>
        <td>
            <form action="/delete-department" method="post" th:inline="none">
                <input type="hidden" name="departmentId" th:value="${department.departmentId}">
                <button type="submit">Eliminar</button>
            </form>
        </td>
        <td>
            <a th:href="@{|/update-department?departmentId=${department.departmentId}|}">
                <button>Update</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
