<!DOCTYPE>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Estàs a HOME</h1>

<h3>Categories</h3>
<a href="/persons">Persons</a>
<a href="/countrys">Counrtys</a>
<a href="/departments">Departments</a>
<a href="/genres">Genres</a>
<a href="/keywords">Keywords</a>
<a href="/companys">Production Companys</a>
<a href="/genders">Genders</a>
<a href="/languages">Languages</a>
<a href="/languageroles">Language Roles</a>
<a href="/moviescrud">Movie CRUD</a>


<h3>CONSULTAR MOVIES</h3>
<a href="/movies">Movies</a>

</body>
</html>
