<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
    <link rel="stylesheet" type="text/css" href="personstyle.css">
</head>
<body>

<h1>Update Movie </h1>
<h1>Pelicula <span th:text="${movie.title}"></span></h1>

<a th:href="@{/moviescrud}">
    <button>Volver</button>
</a>

<table border="2">
    <thead>
    <tr>
        <th>Keywords</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="moviekeyword : ${moviekeywords}">
        <td th:text="${moviekeyword.keyword.keywordName}"></td>
        <td>
            <form action="/deletekeyword" method="post">
                <input type="hidden" th:value="${moviekeyword.movie.movieId}" name="movieId" />
                <input type="hidden" th:value="${moviekeyword.keyword.keywordId}" name="keywordId" />
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
