<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Department</title>
    <link rel="stylesheet" type="text/css" href="personstyle.css">
</head>
<body>

<h1>Update Department</h1>
<form action="/update-department" method="post">
    <input type="hidden" name="departmentId" th:value="${department.departmentId}">
    <label for="departmentName">New Name:</label>
    <input type="text" id="departmentName" name="departmentName" th:value="${department.departmentName}">
    <button type="submit">Update</button>

    <div th:if="${error}" class="error" style="color: red;">
        <p th:text="${error}"></p>
    </div>

</form>

<br>

<a th:href="@{/departments}">
    <button>Volver</button>
</a>

</body>
</html>
