<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Person</title>
    <link rel="stylesheet" type="text/css" href="personstyle.css">
</head>
<body>

<h1>Update Person</h1>
<form action="/update-person" method="post">
    <input type="hidden" name="personId" th:value="${person.personId}">
    <label for="personName">New Name:</label>
    <input type="text" id="personName" name="personName" th:value="${person.personName}">
    <button type="submit">Update</button>

    <div th:if="${error}" class="error" style="color: red;">
        <p th:text="${error}"></p>
    </div>

</form>

<br>

<a th:href="@{/persons}">
    <button>Volver</button>
</a>

</body>
</html>
