<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="person.js" defer></script>
    <link rel="stylesheet" type="text/css" href="personstyle.css">
</head>
<body>

<h1>Update Movie </h1>
<h1>Pelicula <span th:text="${movie.title}"></span></h1>

<script th:inline="javascript">
    var jsonInfo = /*[[${jsonInfo}]]*/ {};e
</script>

<div class="ui-widget">
    <form action="/addmoviekeyword" method="post">
        <input type="hidden" name="movieId" th:value="${movie.movieId}" />
        <label for="tags">Nombre de la keyword: </label>
        <input type="text" id="tags" name="keywordName">
        <input type="submit" value="Añadir">
    </form>
    <a th:href="@{/home}">
        <button>Volver</button>
    </a>
</div>

<table border="2">
    <thead>
    <tr>
        <th>Keywords</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="moviekeyword : ${moviekeywords}">
        <td th:text="${moviekeyword.keyword.keywordName}"></td>
        <td>
            <form action="/deletekeyword" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta keyword?')">
                <input type="hidden" th:value="${moviekeyword.movie.movieId}" name="movieId" />
                <input type="hidden" th:value="${moviekeyword.keyword.keywordId}" name="keywordId" />
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
