<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Movie</title>
    <link rel="stylesheet" type="text/css" href="personstyle.css">
</head>
<body>

<h1>Update Movie </h1>
<h1>Pelicula <span th:text="${movie.title}"></span></h1>

<a th:href="@{/moviescrud}">
    <button>Volver</button>
</a>

<form action="/redirect" method="post">
    <input type="hidden" name="movieId" th:value="${movie.movieId}">
    <label for="tags">Busca por:</label>
    <select id="tags" name="tags">
        <option value="">Elige una opción</option>
        <option value="keyword">Keyword</option>
        <option value="genre">Genre</option>
        <option value="language">Language</option>
        <option value="country">Country</option>
        <option value="company">Production company</option>
        <option value="gender">Gender</option>
        <option value="personaje">Personaje</option>
    </select>

    <input type="submit" value="Buscar">
</form>

</body>
</html>
